<div class="container-fluid card h-100">
  <form [formGroup]="updateInventoryForm" (ngSubmit)="updateVehicleInventory()">
    <div class="card-body">
      <h5 class="card-title mb-2">Update Vehicle Registration Details</h5>
      <div class="form-row">
        <div class="form-group col-md-6">
          <input formControlName="id" type="hidden">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <input type="text" formControlName="registrationNumber" placeholder="Registration Number" class="form-control"
          [ngClass]="{'is-invalid': updateInventoryForm.get('registrationNumber').errors && (updateInventoryForm.get('registrationNumber').touched || updateInventoryForm.get('registrationNumber').dirty)}">
          <span class="text-danger">
            <small *ngIf="updateInventoryForm.get('registrationNumber').errors?.required && (updateInventoryForm.get('registrationNumber').touched || updateInventoryForm.get('registrationNumber').dirty)">Registration Number is Required!</small>
          </span>
        </div>
        <div class="form-group col-md-4">
          <input type="text" formControlName="chasisNumber" placeholder="Chasis Number" class="form-control"
          [ngClass]="{'is-invalid': updateInventoryForm.get('chasisNumber').errors && (updateInventoryForm.get('chasisNumber').touched || updateInventoryForm.get('chasisNumber').dirty)}">
          <span class="text-danger">
            <small *ngIf="updateInventoryForm.get('chasisNumber').errors?.required && (updateInventoryForm.get('chasisNumber').touched || updateInventoryForm.get('chasisNumber').dirty)">Chasis Number is Required!</small>
          </span>
        </div>
        <div class="form-group col-md-4">
          <input type="text" formControlName="engineNumber" placeholder="Engine Number" class="form-control"
          [ngClass]="{'is-invalid': updateInventoryForm.get('engineNumber').errors && (updateInventoryForm.get('engineNumber').touched || updateInventoryForm.get('engineNumber').dirty)}">
          <span class="text-danger">
            <small *ngIf="updateInventoryForm.get('engineNumber').errors?.required && (updateInventoryForm.get('engineNumber').touched || updateInventoryForm.get('engineNumber').dirty)">Engine Number is Required!</small>
          </span>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <input type="text" formControlName="model" placeholder="Model" class="form-control"
            [ngClass]="{'is-invalid': updateInventoryForm.get('model').errors && (updateInventoryForm.get('model').touched || updateInventoryForm.get('model').dirty)}">
          <span class="text-danger">
            <small
              *ngIf="updateInventoryForm.get('model').errors?.required && (updateInventoryForm.get('model').touched || updateInventoryForm.get('model').dirty)">Model is Required!</small>
          </span>
        </div>
        <div class="form-group col-md-4">
          <input type="text" formControlName="subModel" placeholder="Sub Model" class="form-control"
            [ngClass]="{'is-invalid': updateInventoryForm.get('subModel').errors && (updateInventoryForm.get('subModel').touched || updateInventoryForm.get('subModel').dirty)}">
          <span class="text-danger">
            <small
              *ngIf="updateInventoryForm.get('subModel').errors?.required && (updateInventoryForm.get('subModel').touched || updateInventoryForm.get('subModel').dirty)">Sub Model is Required!</small>
          </span>
        </div>
        <div class="form-group col-md-4">
          <input type="text" formControlName="capacity" placeholder="Capacity" class="form-control"
            [ngClass]="{'is-invalid': updateInventoryForm.get('capacity').errors && (updateInventoryForm.get('capacity').touched || updateInventoryForm.get('capacity').dirty)}">
          <span class="text-danger">
            <small
              *ngIf="updateInventoryForm.get('capacity').errors?.required && (updateInventoryForm.get('capacity').touched || updateInventoryForm.get('capacity').dirty)">Capacity is Required!</small>
          </span>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <input type="text" formControlName="manufacturedYear" placeholder="Manufactured Year" class="form-control"
            [ngClass]="{'is-invalid': updateInventoryForm.get('manufacturedYear').errors && (updateInventoryForm.get('manufacturedYear').touched || updateInventoryForm.get('manufacturedYear').dirty)}">
          <span class="text-danger">
            <small
              *ngIf="updateInventoryForm.get('manufacturedYear').errors?.required && (updateInventoryForm.get('manufacturedYear').touched || updateInventoryForm.get('manufacturedYear').dirty)">Manufactured Year is Required!</small>
          </span>
        </div>
        <div class="form-group col-md-4">
          <input type="text" formControlName="manufacturer" placeholder="Manufacture Company" class="form-control"
            [ngClass]="{'is-invalid': updateInventoryForm.get('manufacturer').errors && (updateInventoryForm.get('manufacturer').touched || updateInventoryForm.get('manufacturer').dirty)}">
          <span class="text-danger">
            <small
              *ngIf="updateInventoryForm.get('manufacturer').errors?.required && (updateInventoryForm.get('manufacturer').touched || updateInventoryForm.get('manufacturer').dirty)">Manufacturer is Required!</small>
          </span>
        </div>
        <div class="form-group col-md-2 datePickerDiv">
          <np-datepicker formControlName="registerDateNP" #dateVal (ngModelChange)="changeNepaliToEnglish(dateVal)"
            [ngClass]="{'is-invalid': updateInventoryForm.get('registerDateNP').errors && (updateInventoryForm.get('registerDateNP').touched || updateInventoryForm.get('registerDateNP').dirty)}">
          </np-datepicker>
          <span class="text-danger">
            <small *ngIf="updateInventoryForm.get('registerDateNP').errors?.required && (updateInventoryForm.get('registerDateNP').touched || updateInventoryForm.get('registerDateNP').dirty)">Register Date is Required!</small>
          </span>
        </div>
        <div class="form-group col-md-2">
          <input readonly class="form-control" id="NpToENDate" formControlName="registerDateEN">
        </div>
      </div>
      <div class="form-row">
        <button type="submit" class="btn btn-primary" [disabled]="(!updateInventoryForm.valid)">Submit</button>
      </div>
    </div>
  </form>
</div>