
<div class="card mb-2">
  <div class="card-body">
    <h5 class="card-title pl-3"><a class="btn disabled btn-outline-info btn-sm">{{isEdit?"Update":"Create"}}</a>
    </h5>
    <div class="container-fluid bordered  h-100">
      <form [formGroup]="roleForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="form-group col-md-4">
              <input type="hidden" formControlName="id" />
              <input type="text"  [ngClass]="{'is-invalid': roleForm.get('title').errors
              && (roleForm.get('title').touched
              || roleForm.get('title').dirty)
              }" formControlName="title" placeholder="Role Title" class="form-control">
              <span class="text-danger" >
                  &nbsp;
                  <small *ngIf="roleForm.get('title').errors?.required
                  && (roleForm.get('title').touched || roleForm.get('title').dirty)">Name is Required!</small>
              </span>
              <span class="text-danger" >
                  &nbsp;
                <small  *ngIf="roleForm.get('title').errors?.minlength
                && (roleForm.get('title').touched || roleForm.get('title').dirty)">Name is not less than 3 character!</small>
              </span>
              <span class="text-danger" >
                  &nbsp;
                <small  *ngIf="roleForm.get('title').errors?.maxlength
                && (roleForm.get('title').touched || roleForm.get('title').dirty)">Name is not greater than 50 character!</small>
              </span>
          </div>
          <div class="form-group col-md-4">
            <input type="number" formControlName="rank" placeholder="Role Level" class="form-control">
          </div>
          <div class="form-group publicDiv col-lg-2 col-md-3 col-sm-4">
            <div class="custom-control form-control-lg pull-right custom-checkbox">
              <input type="checkbox" formControlName="hasPublic" class="custom-control-input" id="idIsPublic">
              <label class="custom-control-label" [for]="'idIsPublic'">Has Public</label>
            </div>
          </div>
        
          <div class="form-group col-md-4 pull-left">
            <button [disabled]="(!roleForm.valid)" type="submit" value="save" class="btn btn-primary">
                Save
            </button>
          </div>
        </div>
      </form>
  </div>
  </div>
</div>
<table class="table table-hover">
    <tr>
        <th>S.N</th>
        <th>Title</th>
        <th>Level</th>
        <th>Public</th>
        <th>Action</th>
    </tr>
    <tr *ngFor="let item of roleData; let i=index">
        <td>{{i+1}}</td>
        <td>{{item.name}}</td>
        <td>{{item.rank}}</td>
        <td>{{item.isPublic?'Yes':'No'}}</td>
        <td *ngIf="!item.isDefault"> 
            <button class="btn pt-0 pb-0 btn-xs btn-success" (click)="getData(item.id, item.name, item.isPublic)"><em class="fa fa-edit"></em></button>
            <button  class="btn pt-0 pb-0 btn-xs btn-danger ml-1" (click)="deleteData(item.id)"><em class="fa fa-trash"></em></button>
            <a class="btn pt-0 pb-0 btn-xs btn-info ml-1"  [routerLink]="['/dashboard/permission', item.id]" ><em class="fa fa-eye"></em> Manage Permission</a>
        </td>
        <td *ngIf="item.isDefault"></td>
    </tr>
</table>