<div class="container-fluid card h-100">
  <div class="card-body">
    <div class="card-title">
      <h5>Course Type</h5>
      <div class="text-right">
        <a href="#" [routerLink]='"/dashboard/config/coursetype"' class="btn btn-secondary btn-sm">Cancel</a>
      </div>
    </div>
    <form [formGroup]="createCourseTypeForm" (ngSubmit)="createCourseType()">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label>Title</label><span class="text-danger">*</span>
          <input type="text" formControlName="Title" placeholder="Course Type" class="form-control">
        </div>
      </div>
        <button type="submit" class="btn btn-primary float-right mb-2">SAVE</button>
    </form>
  </div>
</div>