<div *appCheckclaim ="updateAccountHeadDetail" class="row m-2">
    <div class="col-12 text-right">
        <a href="#" [routerLink]='"create"' class="btn btn-primary btn-sm">Create</a>
    </div>
</div>
<div class="col-12">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
          <tr>
            <th>S.N</th>
            <th>Title</th>
            <th>Account Type</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let acc of accountHeadData; let i = index;">
            <td>{{ i + 1 }}</td>
            <td>{{ acc.title }}</td>
            <td>{{ acc.accountTypeTitle }}</td>
            <td>
              <button *appCheckclaim ="accountHeadCreateClaim" class="btn pt-0 pb-0 btn-xs btn-success" (click)="updateAccountHeadDetail(acc.id)" ><em class="fa fa-edit"></em></button>
            </td>
          </tr>
        </tbody>
      </table>
</div>

