<div class="container-fluid card h-100">
  <form [formGroup]="editForm" (ngSubmit)="editAccountType()">
    <div class="card-body">
      <div class="card-title mb-4">
        <h5 class="">Update Account Type</h5>
        <div class="text-right">
          <a href="#" [routerLink]='"/dashboard/account/accounttype"' class="btn btn-secondary btn-sm">Cancel</a>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label>Title</label><span class="text-danger">*</span>
          <input type="hidden" formControlName="id">
          <input type="text" formControlName="title" placeholder="Title" class="form-control"
            [ngClass]="{'is-invalid': editForm.get('title').errors && (editForm.get('title').touched || editForm.get('title').dirty)}">
          <span class="text-danger">
            <small *ngIf="editForm.get('title').errors?.required
              && (editForm.get('title').touched || editForm.get('title').dirty)">Title is Required!</small>
          </span>
        </div>
        <div class="form-group col-md-4">
          <label>Type/Source</label><span class="text-danger">*</span>
          <select class="form-control dropdown-toggle" formControlName="type" disabled>
            <option *ngFor="let ddl of accountTypeDDL" [value]="ddl.value">{{ddl.key}}</option>
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-primary float-right mb-2" [disabled]="(!editForm.valid)"
        style="width: 10%;">UPDATE</button>
    </div>
  </form>
</div>