<div class="container-fluid  h-100">
    <form [formGroup]="editForm" (ngSubmit)="editAccountType()">
      <div class="form-row">
        <div class="form-group col-md-4">
            <input type="hidden" formControlName="id">
            <input type="text" formControlName="title" placeholder="Title" class="form-control">
        </div>
        <div class="form-group col-md-4">
            <select class="form-control dropdown-toggle" formControlName="type" disabled>
                <option *ngFor="let ddl of accountTypeDDL" [value]="ddl.value">{{ddl.key}}</option>
            </select>
        </div>
      </div>
      <div class="form-row">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
</div>
  