
<span  class="sb-nav-fixed">
    <!------Top Nav-->
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" routerLink="/dashboard">
            <app-logo></app-logo>
        </a>
        <button *ngIf="hideKyc" class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" data-cy="topNavToggleSideNav"
            (click)="toggleSideNav()"><i class="fa fa-bars fa-2x text-light"></i></button><!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="userDropdown">
                    <h6 class="dropdown-header">
                        <div class="dropdown-user-details">
                            <div class="dropdown-user-details-name"><strong>{{user.FullName}}</strong></div>
                            <div><small>{{user.Email}} <br> {{user.PhoneNo}} <br> {{user.Role}}</small></div>
                        </div>
                    </h6>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/dashboard">Settings</a>
                    <!-- <a class="dropdown-item" routerLink="/dashboard">Activity Log</a> -->
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item btn" (click)="getLogout()">Logout</a>
                </div>
            </li>
        </ul>
    </nav>
    <!---end -->
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav" [ngClass]="expandNavStyle">
            <nav class="sb-sidenav accordion" id="sidenavAccordion" [ngClass]="sidenavStyle" *ngIf="hideKyc" >
                <div class="sb-sidenav-menu" >
                    <div class="nav">
                        <ng-container *ngTemplateOutlet="recursiveMenu; context:{ menuListItem: menuList }">
                        </ng-container>
                    </div>
                </div>
                <div class="sb-sidenav-footer" *ngIf="!expanded">
                    <div class="small">Logged in as:</div>
                    <span>{{user.FullName}}</span>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content" [ngClass]="expandContentStyle">
            <main>
                <breadcrumb #parent>
                    <ol class="breadcrumb">
                        <ng-template ngFor let-route [ngForOf]="parent.breadcrumbs" let-i="index">
                            <li *ngIf="i != (parent.breadcrumbs.length-1)" class="breadcrumb-item">
                                <a href="" [routerLink]="[route.url]">{{ route.displayName}}</a>
                            </li>
                            <li *ngIf="i === (parent.breadcrumbs.length-1)" class="breadcrumb-item active"
                                aria-current="page">{{ route.displayName }}</li>
                        </ng-template>
                    </ol>
                </breadcrumb>
                <div class="container-fluid">
                    <router-outlet></router-outlet>
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2020</div>
                        <div><a href="#">Privacy Policy &middot;</a><a href="#">Terms &amp; Conditions</a></div>
                    </div>
                </div>
            </footer>

        </div>
    </div>
</span>
<ng-template #recursiveMenu let-menuListItem="menuListItem">
    <ng-container *ngFor="let sideNavItem of menuListItem">
        <a class="nav-link text-truncate" *ngIf="!sideNavItem.children" href="#" [routerLink]="sideNavItem.routeUrl">
            <i [ngClass]="sideNavItem.class"></i>
            <span class="d-none d-sm-inline ml-2">{{sideNavItem.title}}</span></a>
        <a  class="nav-link collapsed text-truncate" *ngIf="sideNavItem.children" href="#submenu{{sideNavItem.id}}"
            data-toggle="collapse"  data-target="#submenu{{sideNavItem.id}}">
            <i class="fas {{sideNavItem.faClass}}"></i> <span  class="ml-2 d-none d-sm-inline">{{sideNavItem.title}}</span></a>
        <div *ngIf="sideNavItem.children" class="collapse" id="submenu{{sideNavItem.id}}" aria-expanded="false">
            <nav class="sb-sidenav-menu-nested">
                <ng-container *ngTemplateOutlet="recursiveMenu; context:{ menuListItem: sideNavItem.children }">
                </ng-container>
            </nav>
        </div>
    </ng-container>
</ng-template>