<div class="container-fluid">
  <h5 class="card-title"></h5>
  <div class="card">
    <div class="card-body">
      <div *appCheckclaim="userCreateClaim" class="row mb-3">
        <div class="col-12">
          <a href="#" [routerLink]='"create"' class="btn btn-primary float-right" style="width:10%;">Create</a>
        </div>
      </div>
      <div class="row col-12">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
          <thead>
            <tr>
              <th>S.N</th>
              <th>Email</th>
              <th>UserName</th>
              <th>FullName</th>
              <th>PhoneNo</th>
              <th>Role</th>
              <th>Account No</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let person of persons; let i = index;">
              <td>{{ i + 1 }}</td>
              <td>{{ person.email }}</td>
              <td>{{ person.userName }}</td>
              <td>{{ person.firstName+ ' ' + (person.middleName?person.middleName: "") +' ' + person.lastName }}</td>
              <td>{{person.phoneNumber}}</td>
              <td>{{person.roleName}}</td>
              <td>{{person.accountNumber}}</td>
              <td>
                <div class="custom-control form-control-lg custom-checkbox">
                  <input type="checkbox" [checked]="person.isEnabled" [disabled]="person.isDefault"
                    class="custom-control-input" [id]="'id'+person.id" #val (click)="hasEnable(person.id, val)">
                  <label class="custom-control-label" [for]="'id'+person.id"></label>
                </div>
              </td>
              <td>
                <button *appCheckclaim="userCreateClaim" class="btn pt-0 pb-0 btn-xs btn-success"
                  (click)="getEdit(person.id)"><em class="fa fa-edit"></em></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>