<div class="container-fluid card h-100">
  <div *appCheckclaim="accountEntryViewClaim" class="card-body">
    <h5 class="card-title">Transaction List</h5>
    <div class="row m-2">
      <div class="col-12 text-right">
        <a *appCheckclaim="accountEntryCreateClaim" href="#" [routerLink]='"create"' class="btn btn-primary btn-sm">Create</a>
      </div>
    </div>
    <div class="col-12">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
          <tr>
            <th>S.N</th>
            <th>Account Number</th>
            <th>Transaction Date (NP)</th>
            <th>Transaction Date (EN)</th>
            <th>Remarks</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transactionEntry of transactionEntries; let i = index;">
            <td>{{ i + 1 }}</td>
            <td>{{ transactionEntry.accountNumber }}</td>
            <td>{{ transactionEntry.entryDateNP }}</td>
            <td>{{ transactionEntry.entryDateEN }}</td>
            <td>{{ transactionEntry.remarks }}</td>
            <td>
              <button *appCheckclaim="accountEntryCreateClaim" class="btn pt-0 pb-0 btn-xs btn-success"
                (click)="updateTransactionEntryDetail(transactionEntry.id)"><em class="fa fa-edit"></em></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

