<div class="container-fluid">
  <h5 class="card-title">Role: {{permissionData['roleName']|titlecase}}</h5>
  <div class="card" >
    <div class="card-body" *ngIf="permissionData">
      <form [formGroup]="permissionForm" (ngSubmit)="onSubmit()">
          <input type="hidden" formControlName="roleId" >
          <div formArrayName="modules">
            <div *ngFor="let module of permissionForm.controls.modules.controls; let i = index" formGroupName="{{i}}">
              <div class="card-header">
                {{module.value.title}}
              </div>
              <div class="row ml-3 mt-3" formArrayName="claims">
                <div class="col-lg-3 permissionDiv col-md-5 col-sm-12" 
                  *ngFor="let claim of module.controls.claims.controls; let j = index;">
                  <div class="custom-control form-control-lg custom-checkbox" [formGroupName]="j">
                    <input type="hidden" formControlName="id" >
                    <input type="checkbox" formControlName="hasChecked" class="custom-control-input" [id]="'id'+claim.value.id">
                    <label class="custom-control-label" [for]="'id'+claim.value.id">{{claim.value.title}}</label>
                  </div>
               </div>
               </div>
            </div>
          </div>
          <button *appCheckclaim ="permissionCreateClaim" [disabled]="(!permissionForm.valid)" type="submit" value="save" class="btn btn-primary mt-5 ml-4 float-right" style="width:10%;">
            SAVE
        </button>
      </form>
    </div>
  </div>
</div>
