<div class="container-fluid  h-100">
  <div class="card mb-2">
    <form [formGroup]="registerPackageForm" (ngSubmit)="registerCustomerPackage()">
      <div class="card-body">
          <h5 class="card-title bg-light pt-2 pb-2">User Details</h5>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label>First Name</label><span class="text-danger">*</span>
                <input type="text" formControlName="firstName" placeholder="First Name" class="form-control">
            </div>
            <div class="form-group col-md-4">
              <label>Middle Name</label><span class="text-danger"></span>
                <input type="text" formControlName="middleName" placeholder="Middle Name" class="form-control">
            </div>
            <div class="form-group col-md-4">
              <label>Last Name</label><span class="text-danger">*</span>
              <input type="text" formControlName="lastName" placeholder="Last Name" class="form-control">
          </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label>Email</label><span class="text-danger">*</span>
                <input type="text"  formControlName="email" placeholder="Email Address" class="form-control">
                <small class="text-danger" *ngIf="registerPackageForm.get('email').errors?.pattern">Email address is invalid</small>   
              </div>
            <div class="form-group col-md-4">
              <label>Confirm Email</label><span class="text-danger">*</span>
              <input type="text" formControlName="confirmEmail" placeholder="Confirm Email Address" class="form-control" appBlockCopyPaste>
              <span class="text-danger" *ngIf="registerPackageForm.get('confirmEmail').errors?.confirmedValidator
              && (registerPackageForm.get('confirmEmail').touched || registerPackageForm.get('confirmEmail').dirty)" >
              <small>Email and Confirm Email must be match.!</small></span>
            </div>
          </div>
          <h5 class="card-title bg-light pt-2 pb-2">Package Details</h5>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label>Package</label><span class="text-danger">*</span>
              <select class="form-control dropdown-toggle" formControlName="packageId" #packageVal (ngModelChange)="setPackageDetails(packageVal)">
                <option value=null selected>--Select Package--</option>
                <option *ngFor="let ddl of packages" [value]="ddl.id">{{ddl.totalDay}} days - {{ddl.packageName}} - Rs.{{ddl.price}}</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label>Start Date(Np)</label><span class="text-danger">*</span>
              <div class="datePickerDiv">
               <np-datepicker  formControlName="startDateNP" #dateVal (ngModelChange)="changeNepaliToEnglish(dateVal)" ></np-datepicker>
             </div>
            </div>
            <div class="form-group col-md-4">
              <label>Start Date(En)</label><span class="text-danger">*</span>
              <input readonly class="form-control" id="NpToENDate"   formControlName="startDateEN">
            </div>
            <div class="form-group col-md-4">
              <label>End Date(Np)</label><span class="text-danger">*</span>
              <div class="datePickerDiv">
               <input readonly formControlName="endDateNP" class="form-control" #dateEndVal >
             </div>
            </div>
            <div class="form-group col-md-4">
              <label>End Date(En)</label><span class="text-danger">*</span>
              <input readonly class="form-control" id="EndNpToENDate"  formControlName="endDateEN">
            </div>
            <div class="form-group col-md-4">
              <label>Shift</label><span class="text-danger">*</span>
              <select class="form-control dropdown-toggle" formControlName="shiftId">
                <option value=null selected>--Select Shift--</option>
                <option *ngFor="let shift of shifts" [value]="shift.id">{{shift.name}} ({{shift.startTime}}-{{shift.endTime}})</option>
              </select>
            </div>
          </div>
          <div class="form-row">
           
            <div class="form-group col-md-4">
              <label>Promo Code</label><span class="text-danger"></span>
                <input type="text" (focusout)="checkPromoCode()" formControlName="promoCode" placeholder="Promo Code"  class="form-control">
            </div>
            <div class="form-group col-md-4">
              <label>Promo Discount Amount</label><span class="text-danger"></span>
                <input type="number" readonly (ngModelChange)="validatePaidAmount()" formControlName="discountAmount" placeholder="Discount Amount" class="form-control">
            </div>
            <div class="form-group col-md-4">
              <label>Paid Amount</label><span class="text-danger"></span>
                <input type="number"  formControlName="paidAmount" (ngModelChange)="validatePaidAmount()" placeholder="Paid Amount" class="form-control">
                <input type="number" hidden  formControlName="packageTotalDays" class="form-control">
                <input type="number" hidden  formControlName="packageAmount" class="form-control">
            </div>
          </div>
          <div class="form-row mb-2">
            <span class="text-danger" *ngIf="errorMsg"><small>{{errorMsg}}</small></span>
          </div>
          <div class="form-row">
            <button [disabled]="(!registerPackageForm.valid || errorMsg)" type="submit" class="btn btn-primary">Submit</button>
          </div>
      </div>
    </form>
    </div>
  
    
  
</div>

