<div class="container-fluid card h-100">
  <form [formGroup]="createPackageForm" (ngSubmit)="createPackage()">
    <div class="card-body">
      <div class="card-title mb-4">
        <h5>Package Create Form</h5>
        <div class="text-right">
          <a href="#" [routerLink]='"/dashboard/config/package"' class="btn btn-secondary btn-sm">Cancel</a>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label>Package Name</label><span class="text-danger">*</span>
          <input type="text" formControlName="packageName" placeholder="Package Name" class="form-control"
            [ngClass]="{'is-invalid': createPackageForm.get('packageName').errors && (createPackageForm.get('packageName').touched || createPackageForm.get('packageName').dirty)}">
          <span class="text-danger">
            <small
              *ngIf="createPackageForm.get('packageName').errors?.required && (createPackageForm.get('packageName').touched || createPackageForm.get('packageName').dirty)">Package
              Name
              is Required!</small>
          </span>
        </div>
        <div class="form-group col-md-4">
          <label>Course</label><span class="text-danger">*</span>
          <select class="form-control dropdown-toggle" formControlName="courseId"
            [ngClass]="{'is-invalid': createPackageForm.get('courseId').errors && (createPackageForm.get('courseId').touched || createPackageForm.get('courseId').dirty)}">
            <option value=null selected>--Select Course--</option>
            <option *ngFor="let ddl of courses" [value]="ddl.id">{{ddl.courseName}}</option>
          </select>
          <span class="text-danger">
            <small
              *ngIf="createPackageForm.get('courseId').errors?.required && (createPackageForm.get('courseId').touched || createPackageForm.get('courseId').dirty)">Course
              is Required!</small>
          </span>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label>Total Days</label><span class="text-danger">*</span>
          <input type="number" formControlName="totalDay" placeholder="Total Day" class="form-control"
            [ngClass]="{'is-invalid': createPackageForm.get('totalDay').errors && (createPackageForm.get('totalDay').touched || createPackageForm.get('totalDay').dirty)}">
          <span class="text-danger">
            <small
              *ngIf="createPackageForm.get('totalDay').errors?.required && (createPackageForm.get('totalDay').touched || createPackageForm.get('totalDay').dirty)">Total
              Day
              is Required!</small>
          </span>
        </div>
        <div class="form-group col-md-4">
          <label>Duration</label><span class="text-danger">*</span>
          <select class="form-control dropdown-toggle" formControlName="shiftFrequencyId"
            [ngClass]="{'is-invalid': createPackageForm.get('shiftFrequencyId').errors && (createPackageForm.get('shiftFrequencyId').touched || createPackageForm.get('shiftFrequencyId').dirty)}">
            <option value=null selected>--Select Shift Duration--</option>
            <option *ngFor="let ddls of shiftFrequency" [value]="ddls.id">{{ddls.name}}({{ddls.duration}} mins)
            </option>
          </select>
          <span class="text-danger">
            <small
              *ngIf="createPackageForm.get('shiftFrequencyId').errors?.required && (createPackageForm.get('shiftFrequencyId').touched || createPackageForm.get('shiftFrequencyId').dirty)">Duration
              is Required!</small>
          </span>
        </div>
        <div class="form-group col-md-4">
          <label>Price</label><span class="text-danger">*</span>
          <input type="number" formControlName="price" placeholder="Price" class="form-control"
            [ngClass]="{'is-invalid': createPackageForm.get('price').errors && (createPackageForm.get('price').touched || createPackageForm.get('price').dirty)}">
          <span class="text-danger">
            <small
              *ngIf="createPackageForm.get('price').errors?.required && (createPackageForm.get('price').touched || createPackageForm.get('price').dirty)">Price
              is Required!</small>
          </span>
        </div>
      </div>
      <button type="submit" class="btn btn-primary float-right mb-2" [disabled]="(!createPackageForm.valid)"
        style="width: 10%;">SAVE</button>
    </div>
  </form>
</div>