<div class="card">
  <div class="card-body">
    <div *appCheckclaim="accountTypeCreateClaim" class="row m-2">
      <div class="col-12 text-right">
        <a href="#" [routerLink]='"create"' class="btn btn-primary btn-md mb-2">Create</a>
      </div>
    </div>
    <div class="col-12">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
          <tr>
            <th>S.N</th>
            <th>Title</th>
            <th>Type</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let acc of accountTypeData; let i = index;">
            <td>{{ i + 1 }}</td>
            <td>{{ acc.title }}</td>
            <td>{{ acc.typeName }}</td>
            <td>
              <button *appCheckclaim="accountTypeCreateClaim" class="btn pt-0 pb-0 btn-xs btn-success"
                (click)="updateAccountTypeDetail(acc.id)"><em class="fa fa-edit"></em></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>