<div class="container-fluid  h-100 card mb-2">
  <form [formGroup]="entryForm" (ngSubmit)="createTransactionEntry()">
    <div class="card-body">
      <div class="card-title mb-4">
        <h5>Transaction Summary</h5>
        <div class="text-right">
          <a href="#" [routerLink]='"/dashboard/account/transactionentry"' class="btn btn-secondary btn-sm">Cancel</a>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label>Type</label><span class="text-danger">*</span>
          <select class="form-control dropdown-toggle" formControlName="type">
            <option value=null selected>--Select Entry For--</option>
            <option value="1">User</option>
            <option value="2">Vehicle</option>
            <option value="3">Account</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label>Account Number</label><span class="text-danger">*</span>
          <input type="text" [ngbTypeahead]="search" typeahead-editable='false' [resultFormatter]="formatter"
            (selectItem)="selectedItem($event)" formControlName="title" placeholder="Search account number"
            class="form-control">
          <input type="hidden" formControlName="accountNumber">
          <input type="hidden" formControlName="id">
        </div>
        <div class="form-row col-12 pl-0">
          <div class="col-4">
            <label>Registration Date (NP)</label><span class="text-danger">*</span>
          </div>
          <div class="col-4">
            <label>Registration Date (EN)</label><span class="text-danger">*</span>
          </div>
        </div>
        <div class="form-row col-12 pl-0">
          <div class="form-group col-md-4 datePickerDiv">
            <np-datepicker [ngbTooltip]="'Transaction Date' " formControlName="entryDateNP" #dateVal
              (ngModelChange)="changeNepaliToEnglish(dateVal)"></np-datepicker>
          </div>
          <div class="form-group col-md-4">
            <input readonly class="form-control" id="NpToENDate" formControlName="entryDateEN">
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Total Price</label><span class="text-danger">*</span>
          <input type="number" [ngbTooltip]="'Market Price'" formControlName="marketPrice"
            (ngModelChange)="calculateTotal()" placeholder="Total price" class="form-control">
        </div>
        <div class="form-group col-md-4">
          <label>Discount Amount</label><span class="text-danger">*</span>
          <input type="number" [ngbTooltip]="'Discount Amount'" formControlName="discountAmount"
            (ngModelChange)="calculateTotal()" placeholder="Discount Amount" class="form-control">
        </div>
        <div class="form-group col-md-4">
        </div>
        <div class="form-group col-md-4">
          <label>Net Amount</label><span class="text-danger">*</span>
          <input type="text" readonly formControlName="netAmountLabel" placeholder="Total Amount" class="form-control">
          <input type="text" readonly hidden formControlName="netAmount" placeholder="Total Amount"
            class="form-control">
        </div>
        <div class="form-group col-md-4">
          <label>Due Amount</label><span class="text-danger">*</span>
          <input type="text" readonly formControlName="dueAmountLabel" placeholder="Due Amount" class="form-control">
          <input type="text" readonly hidden formControlName="dueAmount" placeholder="Due Amount" class="form-control">
        </div>
        <div class="form-group col-md-6">
          <label>Remarks</label><span class="text-danger">*</span>
          <textarea type="text" formControlName="remarks" placeholder="Entry Remarks" class="form-control">
            </textarea>
        </div>
      </div>
      <h5 class="card-title">Journal Entry<span class="ml-4"><button type="button" class="btn btn-primary btn-sm"><i
              class="fa fa-plus-circle" aria-hidden="true" (click)="addJournalEntry()"></i></button></span></h5>
      <div class="form-row" formArrayName="journalEntry">
        <table class="table table-hover border" *ngIf="journalEntries().controls.length>0">
          <thead class="thead-dark">
            <th>S.N</th>
            <th>Module</th>
            <th>Particular</th>
            <!-- <th>Entry Date</th> -->
            <th>Debit(Rs)</th>
            <th>Credit(Rs)</th>
            <th>Remark</th>
            <th>Action</th>
          </thead>
          <tbody>
            <tr *ngFor="let doc of journalEntries().controls; let i=index" [formGroupName]="i">
              <td><button type="button" class="mt-2 btn btn-sm disabled btn-outline-primary">{{i+1}}</button></td>
              <td>
                <select class="form-control dropdown-toggle" formControlName="type">
                  <option value=null selected>--Select Entry For--</option>
                  <option value="1">User</option>
                  <option value="2">Vehicle</option>
                  <option value="3">Account</option>
                </select>
              </td>

              <td>
                <input type="text" #input [ngbTypeahead]="searchItem(i)" typeahead-editable='false'
                  [resultFormatter]="formatter" (selectItem)="selectedJournalItem($event, i)" formControlName="title"
                  placeholder="Search particular" class="form-control" #instance="ngbTypeahead">
                <input type="hidden" formControlName="accountNumber">
                <input type="hidden" formControlName="id">
              </td>
              <!-- <td>
                <div class="col-md-12 datePickerDiv">
                  <np-datepicker [ngbTooltip]="'Transaction Date' " formControlName="entryDateNP" #dateEntryVal
                    (ngModelChange)="changeEntryNepaliToEnglish(dateEntryVal, i)"></np-datepicker>
                </div>
                <div class="col-md-12">
                  <input readonly class="form-control" id="NpToENDate" formControlName="entryDateEN">
                </div>
              </td> -->
              <td>
                <input type="number" formControlName="debitAmount" (ngModelChange)="calculateTotal()"
                  placeholder="Debit Amount" class="form-control w-90 mt-1">
              </td>
              <td>
                <input type="number" formControlName="creditAmount" (ngModelChange)="calculateTotal()"
                  placeholder="Credit Amount" class="form-control w-90 mt-1">
              </td>
              <td>
                <input type="text" formControlName="remarks" placeholder="Remarks" class="form-control w-90 mt-1">
              </td>
              <td>
                <button type="button" class="btn btn-sm btn-danger w-b mt-1 ml-2" (click)="removeJournalEntry(i)"><em
                    class="fa fa-minus">
                  </em></button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="3"><strong class="pull-right">Total Amount(Rs.)</strong></td>
              <td><strong class="pull-right">{{debitPaidAmount}}</strong></td>
              <td><strong class="pull-right">{{creditPaidAmount}}</strong></td>
              <td colspan="2"></td>
            </tr>
            <tr *ngIf="errorMsg">
              <td colspan="7"><strong class="text-danger">{{errorMsg}}</strong></td>
            </tr>
            <tr *ngIf="balanceErrorMsg">
              <td colspan="7"><strong class="text-danger">{{balanceErrorMsg}}</strong></td>
            </tr>
          </tfoot>
        </table>
      </div>
      <button type="submit" [disabled]="(!entryForm.valid || errorMsg || (balanceErrorMsg
         || debitPaidAmount === 0 &&journalEntries().controls.length>0 ))"
        class="btn btn-primary float-right mb-2">SAVE</button>
    </div>
  </form>

</div>